Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump actions/checkout action to v3.4.0
  .github/workflows/test.yaml
Due: none

chore(deps): bump node from v18.14.2 to v18.15.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/slack-templates action to v0.6.15
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit from v3.1.1 to v3.2.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.4.0 to v1.4.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.62
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.65
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.16
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump actions/checkout action to v3.5.0
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit from v3.2.0 to v3.2.1
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.4
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.21.0
  .pre-commit-config.yaml
Due: none

docs(VSCode): Recommend GitHub Actions extension
  .vscode/extensions.json
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.68
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.5
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.22.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump poetry from v1.4.1 to v1.4.2
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.6
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.22.1
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.7
  .pre-commit-config.yaml
Due: none

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
