Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.8
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v7
  .pre-commit-config.yaml
  lychee.toml
Due: none

ci(MegaLinter): Disable markdown-link-check
  .markdown-link-check.json
  .mega-linter.yaml
Due: none

ci(Lychee): Remove extra whitespace
  lychee.toml
Due: none

ci(MegaLinter): Set markdownlint to LINTER_DEFAULT
  .mega-linter.yaml
Due: none

chore(deps): bump scribemd/.github from v0.9.11 to v0.11.1
  .github/renovate.json
Due: none

ci(MegaLinter): Correct Secretlint descriptor
  .mega-linter.yaml
Due: none

chore(deps): bump scribemd/.github from v0.11.1 to v0.11.3
  .github/renovate.json
Due: none

ci(MegaLinter): Reuse config from .github repo
  .mega-linter.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps-dev): bump scribemd/.github from v0.11.3 to v0.11.4
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump python from v3.11.4 to v3.11.5
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps-dev): bump scribemd/.github from v0.11.4 to v0.11.5
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump poetry from v1.5.1 to v1.6.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps-dev): bump scribemd/.github from v0.11.5 to v0.11.6
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps-dev): bump poetry-core from v1.6.1 to v1.7.0
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook frnmst/md-toc to v8.2.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump actions/checkout action to v4.0.0
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit from v3.3.3 to v3.4.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.8.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump node from v18.17.0 to v18.17.1
  .tool-versions
Due: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
