Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(deps): bump scribemd/.github from v0.7.13 to v0.7.15
  .github/renovate.json
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump poetry from v1.2.2 to v1.3.1
  .tool-versions
  poetry.lock
Due: check-poetry, poetry-lock

chore(deps): bump python from v3.11.0 to v3.11.1
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump node from v18.12.1 to v18.13.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.3.1 to v1.3.2
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v2.39.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v2.20.0 to v2.21.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.15 to v0.7.16
  .github/renovate.json
Due: none

chore(deps): bump pre-commit hook frnmst/md-toc to v8.1.8
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit hook lucas-c/pre-commit-hooks-safety to v1.3.1
  .pre-commit-config.yaml
Due: none

chore(deps): bump actions/checkout action to v3.3.0
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.36
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.13
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit from v2.21.0 to v3.0.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v2.40.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.0.0 to v3.0.1
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.37
  .github/workflows/test.yaml
Due: none

chore(deps-dev): bump poetry-core from v1.4.0 to v1.5.0
  pyproject.toml
Due: check-poetry, poetry-lock
