Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): pin dependencies
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(config): bump scribemd/.github from v0.14.14 to v0.14.15
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump node from v20.9.0 to v20.10.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(engines): bump python from v3.12.0 to v3.12.1
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.13.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.5.0 to v3.6.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump scribemd/slack-templates action to v0.6.37
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.127
  .github/workflows/test.yaml
Due: none

ci(markdownlint): Replace deprecated rule alias
  .markdownlint.yaml
Due: none

chore(deps-dev): bump megalinter
  .pre-commit-config.yaml
Due: none

chore(deps): pin poetry-core from >=1.8.1 to ==1.8.1
  pyproject.toml
Due: check-poetry, poetry-lock

chore(config): bump scribemd/.github from v0.14.15 to v0.14.16
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump node from v20.10.0 to v20.11.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(engines): bump python from v3.12.1 to v3.12.2
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry-core from v1.8.1 to v1.9.0
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.7.1 to v1.8.2
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.6.0 to v3.6.2
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
