Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): bump node from v18.17.0 to v18.17.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps-dev): bump scribemd/.github from v0.11.6 to v0.11.7
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.9
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v7.3.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.30
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.102
  .github/workflows/test.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps-dev): bump scribemd/.github from v0.11.7 to v0.12.1
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump commitizen to v3.8.2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

ci(python-safety-dependencies-check): Remove hook
  .pre-commit-config.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.107
  .github/workflows/test.yaml
Due: none

chore(Poetry): Group dev deps with updated syntax
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps-dev): bump scribemd/.github from v0.12.1 to v0.14.0
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.16.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump node from v18.17.1 to v18.18.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.9.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.16.1
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v7.4.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump actions/checkout action to v4.1.0
  .github/workflows/test.yaml
Due: none

ci(workflow): Hasten checkout with blobless clones
  .github/workflows/test.yaml
Due: none

chore(deps): bump python from v3.11.5 to v3.12.0
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
