Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.7
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.22.2
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit from v3.2.1 to v3.2.2
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/slack-templates action to v0.6.17
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.70
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/.github from v0.9.7 to v0.9.10
  .github/renovate.json
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump python from v3.11.2 to v3.11.3
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump actions/checkout action to v3.5.2
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.19
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.74
  .github/workflows/test.yaml
Due: none

chore(deps): bump node from v18.15.0 to v18.16.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.0.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/slack-templates action to v0.6.20
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump commitizen to v3.1.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.79
  .github/workflows/test.yaml
Due: none

chore(Commitizen): Use Poetry version provider
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.2.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.2.2 to v3.3.1
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.2.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.82
  .github/workflows/test.yaml
Due: none

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
