Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(deps): bump scribemd/pre-commit-action action to v0.9.82
  .github/workflows/test.yaml
Due: none

chore(deps-dev): bump poetry-core from v1.5.2 to v1.6.0
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.4.2 to v1.5.0
  .tool-versions
  poetry.lock
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.3.1 to v3.3.2
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump scribemd/.github from v0.9.10 to v0.9.11
  .github/renovate.json
Due: none

chore(deps): bump commitizen to v3.2.2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.86
  .github/workflows/test.yaml
Due: none

chore(Renovate): Add mailmap for Mend Renovate
  .mailmap
Due: none

chore(deps): bump node from v18.16.0 to v18.17.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump python from v3.11.3 to v3.11.4
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.5.0 to v1.5.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.3.2 to v3.3.3
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps-dev): bump poetry-core from v1.6.0 to v1.6.1
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.6.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook lucas-c/pre-commit-hooks-safety to v1.3.2
  .pre-commit-config.yaml
Due: none

chore(deps): bump actions/checkout action to v3.5.3
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.27
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.28
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.8
  .pre-commit-config.yaml
Due: none
