Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.2
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit from v3.0.4 to v3.1.1
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump poetry from v1.3.2 to v1.4.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v2.42.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.49
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/.github from v0.9.1 to v0.9.2
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.9.2 to v0.9.3
  .github/renovate.json
Due: none

chore(deps): bump node from v18.14.1 to v18.14.2
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.51
  .github/workflows/test.yaml
Due: none

chore(VSCode): Don't trim Git patch whitespace
  .editorconfig
  .vscode/settings.json
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.3
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.20.1
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
Due: none

chore(deps): bump scribemd/.github from v0.9.3 to v0.9.5
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.9.5 to v0.9.7
  .github/renovate.json
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.14
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.56
  .github/workflows/test.yaml
Due: none

chore(VSCode): Set Python to 4-space indentation
  .editorconfig
  .vscode/settings.json
Due: none

chore(VSCode): Include poetry.lock when searching
  .vscode/settings.json
Due: none

chore(deps-dev): bump poetry-core from v1.5.1 to v1.5.2
  pyproject.toml
Due: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
