Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(deps-dev): bump poetry-core from v1.4.0 to v1.5.0
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.0.1 to v3.0.3
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.38
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.41
  .github/workflows/test.yaml
Due: none

chore(deps-dev): bump megalinter docker tag to v6.19.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit hook scribemd/pre-commit-hooks to v0.15.1
  .pre-commit-config.yaml
Due: none

chore(deps): bump commitizen to v2.42.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump node from v18.13.0 to v18.14.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.0.3 to v3.0.4
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook frnmst/md-toc to v8.1.9
  .pre-commit-config.yaml
Due: none

chore(deps): bump pre-commit hook princetonuniversity/blocklint to v0.2.4
  .pre-commit-config.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.42
  .github/workflows/test.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.43
  .github/workflows/test.yaml
Due: none

chore(deps): bump python from v3.11.1 to v3.11.2
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump node from v18.14.0 to v18.14.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.16 to v0.8.0
  .github/renovate.json
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.44
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/.github from v0.8.0 to v0.9.1
  .github/renovate.json
Due: none

chore(deps-dev): bump poetry-core from v1.5.0 to v1.5.1
  pyproject.toml
Due: check-poetry, poetry-lock
