Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(Python): Upgrade from 3.10.5 to 3.10.6
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(Node.js): Upgrade from 16.15.1 to 16.17.0
  .tool-versions
Due: check-poetry, poetry-lock

docs(README): Lighten badge label backgrounds
  README.md
Due: none

docs(README): Prefer three-digit shorthand hex
  README.md
Due: none

ci(pre-commit): Add commitizen-branch hook
  .pre-commit-config.yaml
Due: none

chore(Poetry): Upgrade from 1.1.15 to 1.2.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(Python): Upgrade all dependencies to latest
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(Python): Lock newly added PyYAML 6.0 wheels
  poetry.lock
Due: poetry-lock

ci(Poetry): Exclude pip from virtual environment
  .dictionary.txt
  poetry.toml
Due: none

chore(Python): Upgrade from 3.10.6 to 3.10.7
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(Poetry): Upgrade from 1.2.0 to 1.2.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(Python): Upgrade all dependencies to latest
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(Node.js): Upgrade from 16.17.0 to 16.17.1
  .tool-versions
Due: check-poetry, poetry-lock

feat(MegaLinter): Upgrade from v5.16.1 to v6.10.0
  .dictionary.txt
  .gitignore
  .pre-commit-config.yaml
  cspell.config.yaml
Due: none

style(action): Prefer ' to " for string literals
  action.yaml
Due: none

ci(dictionary): Add python-common dictionary
  .dictionary.txt
  cspell.config.yaml
Due: none

chore(Poetry): Upgrade from 1.2.1 to 1.2.2
  .tool-versions
  poetry.lock
Due: check-poetry, poetry-lock

fix(action): Port from set-output to env files
  action.yaml
Due: none

chore(Node.js): Upgrade from 16.17.1 to 16.18.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(GitHub-Actions): Upgrade to latest versions
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
Due: none
