Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(deps): bump node from v18.12.0 to v18.12.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump scribemd/.github from v0.6.1 to v0.7.0
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.0 to v0.7.1
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.1 to v0.7.2
  .github/renovate.json
Due: none

chore(Commitizen): Don't bump major version
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.2 to v0.7.3
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.3 to v0.7.4
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.4 to v0.7.8
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.8 to v0.7.9
  .github/renovate.json
Due: none

chore(deps-dev): bump poetry-core from v1.3.2 to v1.4.0
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.9 to v0.7.10
  .github/renovate.json
Due: none

chore(deps): bump scribemd/.github from v0.7.10 to v0.7.12
  .github/renovate.json
Due: none

chore(deps): bump pre-commit hook pre-commit/pre-commit-hooks to v4.4.0
  .pre-commit-config.yaml
Due: none

ci(pre-commit): Forbid all Git submodules
  .pre-commit-config.yaml
Due: none

chore(Poetry): Pin all dependencies by removing ^
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.12 to v0.7.13
  .github/renovate.json
Due: none

chore(Poetry): Use == to specify exact versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/.github from v0.7.13 to v0.7.15
  .github/renovate.json
Due: none
