Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml

chore(deps): bump pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Due: none

chore(deps): bump node from v18.18.0 to v18.18.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.10.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit from v3.4.0 to v3.5.0
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump node from v18.18.1 to v18.18.2
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.10.1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps-dev): bump scribemd/.github from v0.14.0 to v0.14.1
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(deps): bump scribemd/slack-templates action to v0.6.33
  .github/workflows/notify-assignee.yaml
  .github/workflows/notify-reviewers.yaml
  .github/workflows/test.yaml
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.116
  .github/workflows/test.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(deps): bump node from v18.18.2 to v20.9.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps): bump commitizen to v3.12.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump actions/checkout action to v4.1.1
  .github/workflows/test.yaml
Due: none

chore(deps-dev): bump megalinter
  .pre-commit-config.yaml
Due: none

chore(deps): bump poetry from v1.6.1 to v1.7.1
  .tool-versions
Due: check-poetry, poetry-lock

chore(deps-dev): bump poetry-core from v1.7.0 to v1.8.1
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook frnmst/md-toc to v8.2.2
  .pre-commit-config.yaml
Due: none

chore(deps-dev): bump scribemd/.github from v0.14.1 to v0.14.8
  .github/renovate.json
  .mega-linter.yaml
Due: none

chore(config): bump scribemd/.github from v0.14.8 to v0.14.14
  .github/renovate.json
  .mega-linter.yaml
Due: none
