Repository ScribeMD/rootless-docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-poetry, poetry-lock

check-poetry:
  name: Validate structure of pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false
  description: Check that Poetry dependencies are properly specified.

poetry-lock:
  name: Lock Poetry dependencies
  entry: poetry lock
  language: system
  pass_filenames: false
  args:
  - --no-update
  description: 'Update poetry.lock to match pyproject.toml without upgrading already locked dependencies.
  
    '

chore(Node.js): Upgrade from 16.17.1 to 16.18.0
  .tool-versions
Due: check-poetry, poetry-lock

chore(pre-commit): Upgrade all hooks to latest
  .pre-commit-config.yaml
Due: none

chore(MegaLinter): Upgrade from v6.10.0 to v6.12.0
  .jscpd.json
  .pre-commit-config.yaml
Due: none

ci(MegaLinter): Clear report before each run
  .mega-linter.yaml
Due: none

chore(MegaLinter): Upgrade from v6.12.0 to v6.13.0
  .pre-commit-config.yaml
Due: none

chore(Renovate): Port from Dependabot to Renovate
  .github/dependabot.yaml
  .github/renovate.json
  README.md
Due: none

style(action): Improve readability of cURL command
  action.yaml
Due: none

fix(action): Print get.docker.com error messages
  action.yaml
Due: none

chore(Renovate): Bump config from 0.4.1 to 0.5.1
  .github/renovate.json
Due: none

chore(deps): bump commitizen from ^2.35.0 to ^2.37.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump pre-commit hook frnmst/md-toc to v8.1.5
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  poetry.lock
Due: poetry-lock

chore(Renovate): Bump config from 0.5.1 to 0.6.0
  .github/renovate.json
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.27
  .github/workflows/test.yaml
Due: none

chore(deps): bump node from v16.18.0 to v18.12.0
  .tool-versions
Due: check-poetry, poetry-lock

style(action): Break up long Bash condition
  action.yaml
Due: none

chore(deps): bump scribemd/.github from v0.6.0 to v0.6.1
  .github/renovate.json
Due: none

chore(deps): bump scribemd/pre-commit-action action to v0.9.28
  .github/workflows/test.yaml
Due: none

chore(deps): bump python from v3.10.7 to v3.11.0
  .pre-commit-config.yaml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: check-poetry, poetry-lock

chore(deps): bump scribemd/pre-commit-action action to v0.9.29
  .github/workflows/test.yaml
Due: none

chore(deps): bump node from v18.12.0 to v18.12.1
  .tool-versions
Due: check-poetry, poetry-lock

Path conditions:
  check-poetry: any of: \.tool-versions|pyproject\.toml
  poetry-lock: any of: \.tool-versions|poetry\.lock|pyproject\.toml
